@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Prata&display=swap');
@import "tailwindcss";

a.active hr{
    display:block
}
*{
    font-family: Faculty Glyphic;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
